@using WebExplorer.Auth
@model WebExplorer.Models.Tasks.TaskStateModel

@{
    Layout = "../Shared/_Form.cshtml";
    ViewBag.Title = (Model.Id.HasValue)
                        ? "Редактировать состояние задачи"
                        : "Создать состояние задачи";
}

@if (WeMembership.IsAuthorized)
{
    <form class="form-horizontal news-add" method="POST">
        <div class="control-group">
            @Html.TextBoxFor(m => m.Name, new { @class = "input-xxlarge", id = "news-title", placeholder = "Наименование состояния", reqired=true })
        </div>
        <div class="control-group">
            @Html.TextBoxFor(m => m.Description, new { @class = "input-xxlarge", id = "news-title", placeholder = "Описание состояния"})

        </div>
        
        <p></p>
        <p></p>
        <div class="pull-left">
            <button type="submit" class="btn btn-primary btn-large">@(Model.Id.HasValue ? "Сохранить" : "Создать")</button>
        </div>
        <div class="clearfix"></div>
    </form>
}
@section scripts
{

}
