@using WebExplorer.Auth
@model WebExplorer.Models.NewsEditModel
@{
    Layout = "../Shared/_Form.cshtml";
    ViewBag.Title = (String.IsNullOrEmpty(Model.Title) && String.IsNullOrEmpty(Model.Body))
                        ? "Написать новость"
                        : "Исправить новость";
}
@if (WeMembership.IsAuthorized)
{
    <form class="form-horizontal news-add" method="POST">
        <div class="control-group">
            @Html.TextBoxFor(m => m.Title, new {@class = "input-xxlarge", id = "news-title", placeholder = "Заголовок"})
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Title)</span>
        </div>
        
        <textarea id="news-body" name="body">@Model.Body</textarea>
        
        <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-large">@(Model.Id.HasValue ? "Сохранить" : "Создать")</button>
        </div>
        <div class="clearfix"></div>
    </form>
}
@section scripts
{
    <script>
        $(function() {
            $("#news-body").wysibb(window.wbbOptNews);
            $(".wbb-lightbox").hide();
        });
        $(function() {
            //первичная информация
            if (!$.cookie("addnews-help-shown")) {
                //установим куку
                $.cookie("addnews-help-shown", true, { expires: 365 * 2 });

                $(".ve-tlb-cut").popover({
                    animation: true,
                    placement: 'top',
                    delay: { show: 1000, hide: 1000 },
                    content: "Используйте эту кнопку, чтобы отделить основую часть новости и превью."
                }).popover('show');

                setTimeout(function () { $(".ve-tlb-cut").popover('destroy'); }, 5000);
            }
        });
    </script>
}
