@model WebExplorer.Models.PasswordRecoveryModel
@{
    Layout = "_AccountLayout.cshtml";
    ViewBag.Title = "Восстановление пароля";
}

@if(!Model.LetterSent)
{
    using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <!-- Ввод e-mail для восстановления пароля -->
        <div class="control-group">
            <label class="control-label" for="email">Введите E-mail</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new {@class = "input-large", id = "email", placeholder = "Email"})
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Email)</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Восстановить пароль</button>
            </div>
        </div>
        <script> $("#login").focus();</script>
    }
}
else
{
    <h1>Всё хорошо. Письмо отправлено. Для продолжения проверьте почту.</h1>
}

