@model WebExplorer.Models.PasswordUpdateModel
@{
    Layout = "_AccountLayout.cshtml";
    ViewBag.Title = "Восстановление пароля";
}

@if(Model.HashValid)
{
    using (Html.BeginForm("PasswordUpdate", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <!-- Ввод нового пароля -->
        <div class="control-group">
            <label class="control-label" for="password">Введите новый пароль</label>
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword, new {@class = "input-large", id = "password", placeholder = "Пароль"})
                <span class="help-inline">@Html.ValidationMessageFor(m => m.NewPassword)</span>
            </div>
            @Html.HiddenFor(m => m.Hash)
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
            </div>
        </div>
        <script> $("#newpass").focus();</script>
    }
}

