@model WebExplorer.Models.SiteUserRegister

@{
    ViewBag.Title = "Регистрация";
    Layout = "_AccountLayout.cshtml";
    
}
<div class="container">
    <p>Тут будет регистрация пользователей</p>

</div>
