<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="fileLogTrace" xsi:type="File" fileName="${basedir}/trace.txt" />
    <target name="fileLogDebug" xsi:type="File" fileName="${basedir}/debug.txt" />
    <target name="fileLogInfo" xsi:type="File" fileName="${basedir}/info.txt" />
    <target name="fileLogErrors" xsi:type="File" fileName="${basedir}/errors.txt" />
  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="fileLogTrace" />
    <logger name="*" level="Debug" writeTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
  </rules>
</nlog>
