@using Newtonsoft.Json
@using WebExplorer.Helpers
@using WebExplorer.Auth

@{
    ViewBag.Title = "Главная страница";
}

<div class="container">
    <p>Описание возможностей сайта и все такое. Для неавторизованных пользователей.</p>
    
</div>
